* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0812;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0812;
}

::-webkit-scrollbar-thumb {
  background: #2c1f49;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c2a62;
}

/* Animation for page transitions */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.parent_container {
  animation: fadeIn 0.5s ease-in-out;
}
